body {
	background-color: #000000;
	background-image: url("../assets/background.png");
	animation: backgroundScroll 10s linear infinite;
	font-family: "Courier New";
	font-size: 20px;
	color: #00FF00;
}

a {
	color: #00FF00;
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0px -800px;}
}
